.comment__wrapper
{
    display: flex;
    margin: 0 10px 5px;
    padding: 5px 0;
}

.comment__avatar
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.comment__content
{
    width: 100%;
    margin-left: 10px;
}

.comment__author
{
    color: #427cba;
}

.comment__text
{
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
