{{#each comments}}
    <div class="comment__wrapper">
        <img class="comment__avatar" src={{avatar}}>
        <div class="comment__content">
            <div class="comment__author">{{login}}</div>
            <p class="comment__text">{{text}}</p>
        </div>
    </div>
{{/each}}
