.quest-form
{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.quest-form__photo
{
    align-self: center;
    width: 150px;
    height: 150px;
    background: url("../photo_camera.png") center no-repeat;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid black;
}

.quest-form__photo-input
{
    display: none !important;
}

.quest-form__photo-preview[src=""]
{
    opacity: 0;
}

.quest-form__photo-preview
{
    width: 100%;
    height: 100%;
    border: 0;
}

.quest-form__common-data
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quest-form__text
{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.quest-form__description,
.quest-form__name,
.quest-form__city
{
    margin: 5px;
}

.quest-form__name-input,
.quest-form__city-input
{
    width: 100%;
}

.quest-form__description-input
{
    width: 100%;
    height: 100px;
}

.quest-form__button
{
    width: 200px;
    margin: 5px;
}

.quest-form__new-stage-button
{
    align-self: flex-start;
}

.quest-form__submit
{
    align-self: center;
}

.quest-form_editing__delete-quest-button
{
    align-self: flex-end;
    margin: 10px;
}

@media (max-width: 560px)
{
    .quest-form__common-data
    {
        flex-direction: column;
        align-items: center;
    }

    .quest-form__new-stage-button
    {
        align-self: center;
    }

    .quest-form__text
    {
        width: 90%;
    }
}
