<div class="quest-form">
    <div class="quest-form__common-data">
        <div class="quest-form__photo">
            <input class="quest-form__photo-input" type="file">
        </div>
        <div class="quest-form__text">
            <div class="quest-form__name">
                <input class="quest-form__name-input" name="quest-name" type="text" placeholder="Название квеста">
            </div>
            <div class="quest-form__city">
                <input class="quest-form__city-input" name="quest-city" type="text" placeholder="Город">
            </div>
            <div class="quest-form__description">
                <textarea class="quest-form__description-input"
                          name="quest-description"
                          placeholder="Описание квеста"
                ></textarea>
            </div>
        </div>
    </div>

    <div class="quest-form__stages">
    </div>

    <button class="quest-form__new-stage-button quest-form__button">Добавить этап</button>
    <button class="quest-form__submit quest-form__button">Сохранить</button>
</div>
