<div id="map__modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="map__close close" data-dismiss="modal">&times;</button>
            <div id="map"></div>
        </div>
    </div>
</div>
