@media (min-width: 768px)
{
    #map,
    .modal-dialog
    {
        width: 80vw !important;
        height: 80vh !important;
    }
}

@media (max-width: 768px)
{
    #map,
    .modal-dialog
    {
        width: 90vw !important;
        height: 90vh !important;
    }
}

.map__close
{
    position: absolute;
    top: 0;
    right: -22px;
    font-size: 32px;
}
