sudo: false
language: node_js
node_js:
- "4"
install:
- npm install
- npm run build
script:
- npm run lint
- npm test
after_success:
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && npm run deploy:static'
deploy:
    skip_cleanup: true
    provider: heroku
    api_key:
      secure: $TRAVIS_KEY
    on: master
    app: yahackteam2
