@import "../likes/likes.css";

.stats__dislike
{
    display: none;
}

.card
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 350px;
    background-color: #fff;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.card-image
{
    position: relative;
}

.card-image img
{
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-image img.activator
{
    cursor: pointer;
}

.card-image .fa
{
    position: relative;
    top: -245px;
    left: 5px;
    padding: 6px;
    border-radius: 20px;
    margin-bottom: -30px;
    display: block;
    width: 30px;
}

.done-color
{
    color: #69c83a;
    background-color: #fff;
}

.pending-color
{
    color: #cea61a;
    background-color: #fff;
}

.card-content
{
    padding: 20px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.card-content .fa
{
    display: block;
    align-self: flex-end;
}

.card .card-content .card-title
{
    margin-bottom: 15px;
}

.card .card-content .card-title.activator
{
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 0;
    flex-grow: 2;
}

.card-content__header
{
    display: flex;
}

.card-content__header i
{
    display: block;
    align-self: flex-start;
}

.card-content i.activator
{
    cursor: pointer;
}

.right
{
    float: right !important;
}

.card-reveal
{
    padding: 10px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

.card .card-reveal .card-title
{
    display: flex;
    font-size: 20px;
    cursor: pointer;
}

.card-reveal a
{
    text-decoration: none;
}

.card .card-reveal .card-title
{
    display: flex;
    font-size: 20px;
    cursor: pointer;
}

.card .card-reveal i
{
    cursor: pointer;
    margin-left: 5px;
}

.card-reveal p
{
    margin-top: 15px;
    text-overflow: ellipsis;
    text-align: justify;
}

.card__ratings
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 2;
    align-items: flex-end;
    margin-top: 15px;
}

.likes
{
    display: flex;
}

.people-done
{
    display: flex;
}

.likes__img
{
    height: 30px;
    width: 30px;
    background-image: url("../spritesheet.png");
    background-repeat: no-repeat;
    margin: 0 5px;
}

.people-done__img
{
    height: 30px;
    width: 30px;
    background-image: url("../spritesheet.png");
    background-repeat: no-repeat;
    margin-left: 5px;
}

.likes__img_empty
{
    background-position: -75px -35px;
}

.people-done__img
{
    background-position: -135px -5px;
}

.card-content .quest-block__caption__author
{
    margin: 0;
}

.card-content .quest-block__caption__city
{
    margin: 5px 0 0;
    font-weight: 700;
}

.long-word
{
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;

    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;

    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
