<article class="container">
    <section class="main-page-description">
        <div class="row main-page-description__content main-page-description-content">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <p>
                    Отгадай все загадки,<br>
                    отметь всё на карте
                </p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="main-page-description-content__first-photo main-page-description-content__photo"></div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="main-page-description-content__second-photo main-page-description-content__photo"></div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <p>
                    Используй логику,<br>
                    ловкость и смекалку
                </p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <p>Создавай свои квесты,<br>делись с друзьями!</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="main-page-description-content__third-photo main-page-description-content__photo"></div>
            </div>
        </div>
        <div class="row main-page-description__footer">
            <p class="main-page-description__second-slogan">
                Узнай новый город,<br>
                взгляни по-новому на свой!
            </p>
            <a href="/quests" class="btn btn-primary .btn-lg">Начать прямо сейчас!</a>
        </div>
    </section>
</article>
