header
{
    display: flex;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    height: 100px;
}

.header-logo
{
    flex: 1;
}

.header-logo__img
{
    width: 115px;
    height: 88px;
    background: url('./logo.png') no-repeat;
    background-size: contain;
}

.header-logo img
{
    width: 115px;
}

.header-auth__avatar img
{
    width: 85px;
}

.navigation,
.header-auth
{
    flex: 5;
    display: flex;
}

.navigation-city,
.navigation-main,
.navigation-quests
{
    margin-left: 10px;
    align-self: flex-end;
}

.header-auth
{
    justify-content: flex-end;
}

.header-auth > *
{
    margin-right: 5px;
    align-self: flex-end;
}

