@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic");

.navbar
{
    border: 1px solid #666;

    font-family: Roboto, sans-serif;
}

.navbar-brand
{
    float: right;
}

.nav-menu-button
{
    position: relative;
    float: left;

    padding: 9px 9px;
    margin: 8px 5px;
    width: 45px !important;

    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;

    outline: none;
}

.nav-menu-button .icon-bar
{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
    margin-bottom: 3px;
}

.header-logo
{
    min-width: 50px;
    height: 50px;

    background: url("logo.png") no-repeat center left;
    background-size: contain;

    margin-top: -15px;
}

.navbar-nav .divider
{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.body-content-wrapper .container
{
    width: 100%;
}

@media (max-width: 767px)
{
    .navbar
    {
        min-width: 300px;
    }

    .body-content-wrapper
    {
        min-width: 280px;
        margin-top: 40px;
    }
}

@media (min-width: 768px)
{
    .nav-menu-button
    {
        display: none;
    }

    header
    {
        margin-top: -15px;
        height: 85px;
    }

    .navbar-fixed-top
    {
        position: static;
        border-radius: 5px;
    }
}
