@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic");

.page-header
{
    height: 230px;

    padding: 0;
    margin: 0;
}

.city-select .header-city-button,
.city-select .header-city-button:hover
{
    color: #000;
    outline: none;
    width: 150px;
    background-color: #fff;
    margin-top: 10px;
    padding: 0;
    border-radius: 5px;
}

.city-select.btn-group.open .btn
{
    color: #fff;
}

.city-select.open > .dropdown-menu
{
    background-color: #fff;
}

.city-select .city-select-menu-down
{
    font-size: 9px;
}

.nav-menu
{
    margin-top: 30px;
    margin-bottom: 20px;
}

.nav-menu-list
{
    display: flex;
    margin-left: -40px;
}

.nav-menu-list li
{
    margin-right: 10px;
    border-radius: 5px;
    padding: 3px 5px;
    background-color: #fff;
    color: #000;
}

.nav-menu-list li,
.header-city-button
{
    list-style-type: none;
    text-decoration: none;
}

.nav-menu-list li > a
{
    color: #000;
    text-decoration: none;
}

.quest-search__input
{
    width: 270px;
    border-radius: 5px;
    padding-left: 5px;
}

.navbar
{
    background: url("header-bg.jpg") no-repeat center top;
    background-size: cover;

    font-family: Roboto, sans-serif;

    height: 230px;
}

.navbar-container
{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-brand
{
    display: flex;
    justify-content: center;
}

.header-logo
{
    min-width: 30px;
    height: 30px;

    background: url("logo.png") no-repeat center left;
    background-size: contain;

    margin-right: 10px;
}

.navbar-brand h1
{
    font-size: 41px;
    color: #fff;
    margin-top: -10px;
}

.navbar-nav .divider
{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.body-content-wrapper .container
{
    width: 100%;
}

.navbar-mobile-menu
{
    background-color: #fff;
    border-radius: 5px;
    align-self: flex-start;
    padding: 1px 5px;
    font-size: 15px;
}

@media (max-width: 767px)
{
    .navbar
    {
        min-width: 300px;
    }

    .body-content-wrapper
    {
        min-width: 280px;
        margin-top: 50px;
    }

    .quest-search__input
    {
        width: 220px;
    }

    .nav-menu-list li
    {
        font-size: 14px;
    }
}

@media (min-width: 768px)
{
    .page-header
    {
        width: 100%;
    }

    .navbar-mobile-menu
    {
        display: none;
    }
}

@media (max-width: 350px)
{
    .navbar-brand h1
    {
        font-size: 30px;
        color: #fff;
        margin-top: 0;
    }

    .header-logo
    {
        min-width: 24px;
        height: 24px;
    }
}
