/*block EDIT-STAGE*/
.edit-stage
{
    margin: 10px auto;

    max-width: 70%;
    min-width: 400px;
    height: 200px;

    border: solid 3px #000000;

    display: flex;
    flex-direction: row;

    padding: 10px 0;
}

.edit-stage__media
{
    width: 30%;
    min-width: 170px;
}

.edit-stage__description
{
    width: 70%;
    overflow: hidden;
}

/*block DESCRIPTION-EDITOR*/
.description-editor {
    width: 95%;
    height: 100%;

}

.description-editor__title
{
    display: block;
    margin: 10px 20px;
    font-size: 20px;
    width: 95%;
}

.description-editor__hint
{
    display: block;
    margin: 10px 20px;
    width: 95%;
    height: 67%;
}

/*block PHOTO-EDITOR*/
.photo-editor
{
    padding: 10px 10px 0 10px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.photo-editor__input
{
    display: none;
}

.photo-editor__preview
{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url(./photo_camera.png) center no-repeat;
}

.photo-editor__resource
{
    width: 100%;
    height: 100%;
}

/*block GEOLOCATION-EDITOR*/
.geolocation-editor
{
    text-align: center;
    overflow: hidden;
    padding: 0 5px 5px;
}

.geolocation-editor__input
{
    width: 150px;
    height: 30px;
    text-overflow: ellipsis;
    background: white;
    border: solid 1px black;
}
