/* block EDIT-STAGE */
.edit-stage
{
    margin: 10px auto;

    width: 70%;
    min-width: 400px;
    max-width: 800px;
    height: 200px;

    border: solid 3px #000;

    display: flex;
    overflow: hidden;

    padding: 10px 0;
}

.edit-stage__media
{
    width: 30%;
    min-width: 170px;
}

.edit-stage__description
{
    width: 70%;
}

/* block DESCRIPTION-EDITOR */
.description-editor
{
    width: 95%;
    height: 100%;
}

.description-editor__title
{
    display: block;
    margin: 10px auto;
    font-size: 20px;
    width: 95%;
}

.description-editor__hint
{
    display: block;
    margin: 10px auto;
    width: 95%;
    height: 67%;
}

/* block PHOTO-EDITOR */
.photo-editor
{
    padding: 10px 10px 0 10px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.photo-editor__input
{
    display: none;
}

.photo-editor__loader
{
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url("./photo_camera.png") center no-repeat;
    border-radius: 20px;
    overflow: hidden;
    /*border: 3px solid #ffac17;*/
    border: 3px solid black;
    /*border: 3px solid #1a237e;*/
    /*border: 3px solid #1b5e20;*/
}

[src=""]
{
    opacity: 0;
}

.photo-editor__preview
{
    width: 100%;
    height: 100%;
    border: 0;
}

/* block GEOLOCATION-EDITOR */
.geolocation-editor
{
    text-align: center;
    overflow: hidden;
    padding: 0 5px 5px;
}

.geolocation-editor__input
{
    width: 150px;
    height: 30px;
    text-overflow: ellipsis;
    /*background: #ffac17;*/
    background: black;
    /*background: #1a237e;*/
    /*background: #1b5e20;*/
    color: white;
    border-radius: 10px;
    border: 0;
}

@media (max-width: 560px)
{
    .edit-stage
    {
        min-width: 100px;
        height: 500px;
        flex-direction: column;
        justify-content: space-between;
    }

    .edit-stage__media
    {
        width: 100%;
    }

    .edit-stage__description
    {
        width: 100%;
        height: 60%;
    }

    .description-editor
    {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-editor__hint
    {
        height: 90%;
    }
}
