<div class="quest-page-controls row">
    <div class="col-xs-12 center-block">
        <button class="btn btn-success quest-page-controls__button-begin">Начать</button>
        <button class="btn btn-info quest-page-controls__button-later">Пройти позже</button>
    </div>
</div>
