<div class="quest-page-controls row">
    <div class="col-xs-12 center-block">
        <input type="hidden" value="{{quest._id}}" id="questId">
        {{#if started}}
            <button class="btn btn-success quest-page-controls__button-begin" disabled>Квест начат</button>
        {{else}}
            <button class="btn btn-success quest-page-controls__button-begin begin">Начать</button>
        {{/if}}
    </div>
</div>
