h2
{
    margin: 0;
}

h3
{
    margin: 0;
}

.quest-stats-count
{
    display: flex;
    align-items: center;
    max-height: 30px;
}

.quest-page-header
{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.quest-page-header-photo,
.quest-page-header-photo__photo
{
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
}

.quest-page-header-photo
{
    margin: auto;
}

.quest-page-header-info
{
    width: 100%;
    margin: 20px auto;
}

.quest-page-header-stats
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quest-page-header__name
{
    text-align: center;
}

.quest-page-header__author h2
{
    font-size: 20px;
    margin-bottom: 10px;
}

.quest-page-header-stats__like-img,
.quest-page-header-stats__dislike-img,
.quest-page-header-stats__people-done-img
{
    height: 30px;
    width: 30px;
    background-image: url("../spritesheet.png");
    background-repeat: no-repeat;
    margin-right: 5px;
}

.quest-page-header-stats__like-img_empty
{
    background-position: -75px -35px;
}

.quest-page-header-stats__like-img_filled
{
    background-position: -75px -75px;
}

.quest-page-header-stats__dislike-img_empty
{
    background-position: -35px -5px;
}

.quest-page-header-stats__dislike-img_filled
{
    background-position: -5px -75px;
}

.quest-page-header-stats__people-done-img
{
    background-position: -135px -5px;
}

.quest-page-header-stats__like,
.quest-page-header-stats__dislike,
.quest-page-header-stats__people-done
{
    display: flex;
    margin-right: 10px;
}

.quest-page-header-stats__like-count,
.quest-page-header-stats__dislike-count,
.quest-page-header-stats__people-done-count
{
    font-size: 1.2em;
}

@media (max-width: 767px)
{
    .quest-page-header-stats__like-img,
    .quest-page-header-stats__dislike-img,
    .quest-page-header-stats__people-done-img
    {
        width: 20px;
        height: 20px;
    }

    .quest-page-header-stats__like-img_empty
    {
        background-position: -75px -5px;
    }

    .quest-page-header-stats__like-img_filled
    {
        background-position: -45px -75px;
    }

    .quest-page-header-stats__dislike-img_empty
    {
        background-position: -5px -5px;
    }

    .quest-page-header-stats__dislike-img_filled
    {
        background-position: -5px -35px;
    }

    .quest-page-header-stats__people-done-img
    {
        background-position: -105px -5px;
    }

}

@media (max-width: 991px)
{
    .quest-page-header-stats
    {
        margin-top: 10px;
    }

    .quest-page-header-photo,
    .quest-page-header-photo__photo
    {
        max-width: 100%;
        max-height: 100%;
    }
}
