<div class="add-stage-form">
    <div class="add-stage-form__add-meta-media">
        <label for="add-stage-form__add-meta-media_img" class="add-stage-form__add-meta-media_img-label">
            <input type="file" class="add-stage-form__add-meta-media_input-img"
                   id="add-stage-form__add-meta-media_img">
            <img src="../../blocks/add-stage/photo_camera.png" class="add-stage-form__add-meta-media_img">
        </label>
        <div class="add-stage-form__add-meta-media_add-geo">
            <p>Геолокация</p>
        </div>
    </div>

    <div class="add-stage-form__add-meta-text">
        <input class="add-stage-form__add-meta-text_add-name" type="text" placeholder="Название этапа">
        <textarea class="add-stage-form__add-meta-text_add-description" placeholder="Подсказка"></textarea>
    </div>
</div>
