{{#extend "base"}}
    {{#content "head"}}
        {{>head/head}}
        <link rel="stylesheet" href="{{publicHost}}/questPage.css">
    {{/content}}

    {{#content "header"}}
        {{> header/header }}
    {{/content}}

    {{#content "body"}}
        <div class="quest-page container-fluid">
            <div class="quest-page-info container-fluid">
                {{> quest_page_header/quest_page_header }}
                {{> quest_page_controls/quest_page_controls }}
            </div>
            {{> stages/stages }}
        </div>
    {{/content}}

    {{#content "footer"}}
        {{> footer/footer }}
    {{/content}}
{{/extend}}
