@import "../../blocks/quest_page_controls/quest_page_controls.css";
@import "../../blocks/quest_page_header/quest_page_header.css";
@import "../../blocks/stages/stages.css";
@import "../../blocks/stage/stage.css";

body
{
    background-color: #eee;
}

.stage-head
{
    overflow-y: hidden;
}

.stage-header__photo
{
    margin-right: 20px;
}

.stage-header__caption
{
    flex-grow: 2;
}

.modal-body__close-button
{
    text-align: center;
    margin-top: 15px;
}
