@import "../../blocks/quest_page_controls/quest_page_controls.css";
@import "../../blocks/quest_page_header/quest_page_header.css";
@import "../../blocks/stages/stages.css";

.stage-header
{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.stage-header__photo
{
    margin-right: 20px;
}

.stage-header__caption
{
    flex-grow: 2;
}

.modal-body__close-button
{
    text-align: center;
    margin-top: 15px;
}
