{{#extend "base"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="{{publicHost}}/questPage.css">
    {{/content}}

    {{#content "header"}}
        {{> header/header }}
    {{/content}}

    {{#content "body"}}
        <div class="container-fluid stage-head">
            {{> quest_page_header/quest_page_header }}
            {{> quest_page_controls/quest_page_controls }}
            <div class="container">
                {{> stages/stages }}
            </div>

            <!--Modal Window Checkin-->
            <div class="modal fade" id="checkin-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p class="text-center">Подождите пожалуйста...</p>
                            <div class="modal-body__close-button">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn btn-primary quest-comments__show-button">Комментарии</div>
        {{> quest_comments/quest_comments}}
    {{/content}}

    {{#content "footer"}}
        {{> footer/footer }}
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="{{ publicHost}}/questPage.js"}}></script>
    {{/content}}
{{/extend}}
