{{#extend "base"}}
    {{#content "head" mode="append"}}
        <link rel="stylesheet" href="{{publicHost}}/quests.css">
    {{/content}}

    {{#content "body"}}
        <div class="quests-page-container container">
            {{#if addQuestsAllowed}}
                <div class="quests-page__button-container">
                    <a href="/new-quest" class="btn btn-primary quests-page__add-quest-button">
                        Создать квест
                    </a>
                </div>
            {{/if}}
            {{#if quests}}
                <div class="quests-container">
                    <div class="quests-block">
                        {{#each quests}}
                            {{> quest_block/quest_block }}
                        {{/each}}
                    </div>
                </div>
                {{#if noMoreQuests }}
                    <button class="btn btn-default quests-block__more-button" disabled>Загругить еще</button>

                {{else}}
                    <button class="btn btn-default quests-block__more-button">Загрузить еще квесты</button>
                {{/if}}
            {{else}}
                {{#if query}}
                    <div class="quests-block__warning-empty">По данному запросу ничего не найдено</div>
                {{/if}}
            {{/if}}
        </div>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="{{publicHost}}/quests.js"></script>
    {{/content}}


{{/extend}}
