@import "../../blocks/quest_block/quest_block.css";

body
{
    background-color: #eee;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
}

.quests-page__add-quest-button
{
    text-decoration: none;
    width: 120px;
    margin: 10px 0 30px;
}
