<section class="stage-comments__comments-wrapper stage-comments_hidden" data-id="{{ _id }}">
    <div class="stage-comments__comments-container"></div>
    <div class="stage-comments__add-comment">
        <textarea
            class="stage-comments__text noSwipe"
            data-id="{{ _id }}"
        ></textarea>
        <div class="btn btn-primary stage-comments__add-comment-button" data-id="{{ _id }}">
            Добавить комментарий
        </div>
    </div>
</section>
