<div class="modal fade stage-comments" data-id="{{ _id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Комментарии к этапу</h4>
            </div>
            <div class="modal-body" data-id="{{ _id }}">
                <div class="stage-comments__comments-container"></div>
                <div class="stage-comments__add-comment">
                    <div class="form-group">
                        <textarea class="form-control stage-comments__text noSwipe" data-id="{{ _id }}" rows = "5"></textarea>
                    </div>
                    <div class="btn btn-primary stage-comments__add-comment-button" data-id="{{ _id }}">
                        Добавить комментарий
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
