<section class="quest-comments__comments-wrapper quest-comments_hidden">
    <div class="quest-comments__comments-container"></div>
    <div class="quest-comments__add-comment">
        <textarea title="Ваш комментарий" rows="4" cols="50" class="quest-comments__text noSwipe"></textarea>
        <div class="btn btn-primary quest-comments__add-comment-button">Добавить комментарий</div>
    </div>
</section>
