.quest-comments__show-button
{
    display: block;
    width: 120px;
    margin: 0 auto;
}

.quest-comments_hidden
{
    display: none;
}

.quest-comments__comments-container
{
    width: 100%;
}

.quest-comments__text
{
    display: block;
    width: 100%;
    margin: 10px auto;
}

.quest-comments__add-comment
{
    width: 100%;
    margin: 10px auto;
}

.quest-comments__add-comment-button
{
    display: block;
    width: 180px;
    margin: 0 auto;
}
