.footer
{
    border: 1px solid #666;
    box-shadow: 2px 2px 5px 2px #666;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer__share,
.footer__text,
.footer-address
{
    flex-basis: 33%;
}

.footer__text
{
    text-align: center;
}

.footer-address
{
    text-align: right;
}

.footer-address__link
{
    color: #666;
}
