<script src="https://yastatic.net/share2/share.js" async="async"></script>

<footer class="footer-block">
    <div class="footer-block__share ya-share2" data-services="vkontakte,twitter"
         data-description="Photoquest is the best service for researching new places" data-counter></div>
    <p class="footer-block__text">&copy; 2016 Миникупоросы</p>
    <address class="footer-block__address footer-block-address">
        <a class="footer-block-address__link" href="mailto:hackathonteam2@yandex.ru">hackathonteam2@yandex.ru</a>
    </address>
</footer>
