.footer-block
{
    border: 1px solid #666;
    box-shadow: 2px 2px 5px 2px #666;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a
{
    color: #666;
}
