.footer
{
    border: 1px solid #666;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer__share,
.footer__text,
.footer-address
{
    flex-basis: 33%;
}

.footer__text
{
    text-align: center;
}

.footer-address
{
    text-align: right;
}

.footer-address__link
{
    color: #666;
    display: block;
    height: 25px;
    width: 100%;
    background: url("./mail.png") no-repeat center right;
}

@media (max-width: 767px)
{
    .footer
    {
        min-width: 300px;
        width: 100%;
        height: 50px;

        border-radius: 0;
        margin: 0;
    }
}

@media (min-width: 768px)
{
    .footer
    {
        height: 50px;
        margin-left: -230px;
        margin-top: 50px;
    }
}

