@import "../error/error.css";

.errors
{
    z-index: 1200;
    position: absolute;
    width: 100%;
    background-color: #ff5853;
    border: 1px solid black;
    min-height: 30px;
}

.errors__close
{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    background-image: url("close.png");
}

.errors_hidden
{
    display: none;
}
